
.commands {
  width: rem(300);
  position: absolute;
  top: rem(34);
  bottom: 0;
  left: rem(8);
  border: none;
  background-color: #DDD;
  color: #AAA;
  resize: none;
  @include transition (all .2s linear);

  &:focus {
    background-color: white;
    color: #666;
    outline: none;
  }

}
