
.wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrap__top,
.wrap__bottom {
  position: absolute;
  right: 0;
  left: 0;
}

.wrap__top {
  top: 0;
  height: 65%;
  background-color: #222;
}

.wrap__bottom {
  bottom: 0;
  height: 35%;
  background-color: black;
  border: 2px solid black;
  box-sizing: border-box;
}
